.page__body {
  background-color: #f5f5f5;
}

.page__main {
  flex-grow: 1;
}

.page__body--nojs .page__main {
  display: none;
}

.page__title {
  opacity: 0.1;
}

@include breakpoint-down(500px) {
  .page__title {
    font-size: 4rem;
  }
}

@include breakpoint-down(350px) {
  .page__title {
    font-size: 3rem;
  }
}