.todo-list__items-status-controller, .todo-list__item-status-controller {
  border-color: #ccc;
  background-color: #fff;
  color: #ccc;
  transition: border-color 0.2s ease,
  background-color 0.2s ease,
  color 0.2s ease;

  &:hover {
    background-color: #00bb4a;
    border-color: #00bb4a;
    color: #fff;
  }
}

.todo-list__items-status-controller {
  padding: {
    top: 0;
    bottom: 3px;
    right: 8px;
    left: 9px;
  }
  font-size: 22px;
  transform: rotate(90deg);
}

.todo-list__item-status-controller {
  padding: {
    top: 1px;
    bottom: 1px;
    right: 3px;
    left: 3px;
  }
  font-size: 30px;
  line-height: 30px;
}

.todo-list__items-status-checkbox:checked + .todo-list__items-status-controller-label > .todo-list__items-status-controller {
  background-color: #00bb4a;
  border-color: #00bb4a;
  color: #fff;
}

.todo-list__item-status-checkbox:checked + .todo-list__item-status-controller-label > .todo-list__item-status-controller {
  background-color: #00bb4a;
  border-color: #00bb4a;
  color: #fff;
}

.todo-list__item-text {
  line-height: 25px;
  word-break: break-all;
  font-weight: 500;
  &:focus {
    outline: none;
    box-shadow: 0 0 3px 1px #e6e6e6;
  }
  transition: color 0.2s ease;
}

.todo-list__item-status-checkbox:checked + .todo-list__item-status-controller-label +
.todo-list__item-text {
  color: #ccc!important;
}

.todo-list__item-remove-button {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.todo-list__item:hover .todo-list__item-remove-button {
  opacity: 1;
  visibility: visible;
}

.todo-list-container__todo-task-counter {
  font-size: 18px;
}

@include breakpoint-down(800px) {
  .todo-list__item-remove-button {
    visibility: visible;
    opacity: 1;
  }
}