.todo-list-container__form-input::placeholder {
  color: #ccc;
}

.todo-list__item-status-button {
  font-size: 30px;
  line-height: 30px;
  padding: {
    top: 1px;
    bottom: 1px;
    right: 3px;
    left: 3px;
  }
}

.todo-list__item-text {
  line-height: 25px;
  word-break: break-all;
  &:focus {
    outline: none;
    box-shadow: 0 0 3px 1px #e6e6e6;
  }
}

.todo-list__item-remove-button {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.todo-list__item:hover .todo-list__item-remove-button {
  opacity: 1;
  visibility: visible;
}

.todo-list-container__todo-task-counter {
  font-size: 18px;
}

@include breakpoint-down(800px) {
  .todo-list__item-remove-button {
    visibility: visible;
    opacity: 1;
  }
}