.todo-list-container {
  max-width: 550px;
  background-color: #fff;
}

.todo-list-container__main {
  max-height: 55vh;
  min-height: 50px;
  overflow-y: auto;
}

.todo-list-container__form-input::placeholder {
  color: #ccc;
}

@include breakpoint-down(800px) {
  .todo-list-container__main {
    max-height: 50vh;
  }
}

@include breakpoint-down(400px) {
  .todo-list-container__main {
    max-height: 45vh;
  }
}