.todo-list-container {
  max-width: 550px;
  background-color: #fff;
}

.todo-list-container__main {
  max-height: 55vh;
  overflow-y: auto;
}

@include breakpoint-down(1024px) {
  .todo-list-container__main {
    max-height: 45vh;
  }
}

@include breakpoint-down(800px) {
  .todo-list-container__main {
    max-height: 40vh;
  }
}